.body{
    margin: 0%;
}




.logoaulab{
    color: black;
}


.link{

    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.link:hover{
    border-bottom: 2px solid;
}

.Listlink{
    color: pink;
    display: flex;

}

header{
    color: aqua;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


h2{
    color: blue;
}


h4{
    color: violet;
}


button{
    color: black;
}


.titlearticle{

    text-align: center;
}


.imgArticle{
    width: 300px;
}



.containerarticle{
    display: flex;
    width: 60%;
}


.aside{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.main{
    display: flex;
}



.footer{
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    height: 30vh;
    margin-top: 100px;
}


.imgicon{
    width: 50px;
    height: 50px;
    animation-name: Icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: fixed;
    top: 20px;
}


@keyframes Icon {
    0%{
        transform: translateY(50px);
    }100%{
        transform: translateY(0px);
    }

}


@media screen and (max-width: 670px)   {
    .link{
        font-size: 10px;
    }

    .logoaulab{
        width: 50px;
        height: 50px;
    }

    .containerarticle{
        display: block;
        width: 100%;
        
    }

    .aside{
        width: 100%;
        display: block;
    }

    .main{
        display: block;
    }

    .article{
        margin: 50px 0px;
    }

    .footer{
        display: block;
    }
}



